html {
  font-size: 20px;
}

h1 {
  margin: auto;
  padding:center;
  text-align: center;
}



body {
  background-color: #a9a9a9;
  color: white;
}

form li {
  list-style: none;
  margin: auto;
  text-align: center;
  padding:center;
}

form ul li label{
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  margin-right: 10px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:18px;
}

form ul li input, select, span {
  float: left;
  margin-bottom: 10px;
}

form textarea {
  float: left;
  width: 350px;
  height: 150px;
}

input {
  border-radius: 10px;
}

[type="submit"] {
  clear: left;
  margin: 20px 0 0 230px;
  font-size:18px;
  border-radius: 10px;
}

[type="button"] {
  clear: right;
  margin: 20px 0 0 20px;
  font-size: 18px;
  border-radius: 10px;
}

p {
  margin-left: 70px;
  font-weight: bold;
  text-align: center;
}

